html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}

h1 {
	margin: 0;
	font-weight: normal;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.fadeout {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
	-moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
	transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.fadein {
	visibility: visible;
	opacity: 1;
	-webkit-transition: 0s;
	transition: 0s;
}

.label {
	color: #888;
	font-size: 1.4rem;
	font-weight: 300;
}

.wrapper,
.page {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.wrapper {
	left: 0;
	overflow: hidden;
	min-width: 240px;
	height: 100%;
}

.page {
	left: 100%;
	overflow: auto;
	background-color: #ededed;
	-webkit-transition: left .4s;
	-moz-transition: left .4s;
	transition: left .4s;
}

.page.active {
	left: 0;
}

.page-header {
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	height: 50px;
	padding: 6px 15px;
	background-color: #508fcc;
	color: #FFF;
}

.page-heading {
	font-size: 1.2rem;
	line-height: 1.9rem;
}

.page-heading > .bigger {
	font-size: 1.6rem;
	display: block;
	text-transform: uppercase;
}

.back-to-home {
	float: left;
	height: 45px;
	padding: 0 16px;
	margin-left: -10px;
}

.arrow-back {
	display: inline-block;
	padding: 6px;
	border-top: 3px solid #FFF;
	border-left: 3px solid #FFF;
	margin-top: 14px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.page-content {
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 59px 8px 0;
}

.box {
	position: relative;
	display: block;
	box-sizing: border-box;
	padding: 15px;
	margin-bottom: 8px;
	background-color: #FFF;
	box-shadow: 0 1px 1px #BBB;
}

.route {
	margin-bottom: 4px;
	font-size: 1.4rem;
}

.route .label {
	display: inline-block;
	width: 15%;
	padding-right: 15px;
	text-transform: uppercase;
	text-align: right;
}

.route-arrival {
	font-size: 2.2rem;
	text-transform: uppercase;
}

.content-box {
	max-width: 250px;
	margin: auto;
}

.next-boat,
.later-boat {
	text-align: right;
}

.next-boat {
	margin-top: 20px;
}

.later-boat {
	color: #888;
}

.countdown {
	display: box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	margin: 5px 0;
	font-size: 4.6rem;
	text-align: center;
}

.countdown-item {
	position: relative;
	width: 66px;
	height: 66px;
	border-radius: 3px;
	background-color: #508fcc;
	color: #FFF;
	line-height: 66px;
}

.countdown-item > span {
	position: relative;
}

.countdown-item:before {
	content: "";
	position: absolute;
	top: 50%;
	display: block;
	width: 100%;
	height: 1px;
	background-color: #A7C2DC;
}

.countdown-separator {
	color: #508fcc;
}

.nav {
	display: table;
	width: 100%;
	border-bottom: 1px solid #A7C2DC;
	margin-bottom: 20px;
	font-size: 1.4rem;
	text-align: center;
}

.nav .active {
	border-bottom-color: #508fcc;
	font-weight: 500;
}

.nav-tab {
	display: table-cell;
	vertical-align: middle;
	width: 33%;
	padding: 6px 0;
	border-right: 1px solid #A7C2DC;
	border-bottom: 5px solid transparent;
}

.nav-tab:last-child {
	border-right: none;
}

.schedule-wrapper {
	position: relative;
	overflow: auto;
	height: 100%;
	margin-left: -12px;
	margin-right: -12px;
}

.schedule {
	position: absolute;
	top: -99999px;
	left: 0;
	display: box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	color: #888;
	font-size: 1.6rem;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity .2s .2s;
	-moz-transition: opacity .2s .2s;
	transition: opacity .2s .2s;
}

.schedule.active {
	top: 0;
	opacity: 1;
	-webkit-transition: opacity .2s 0;
	-moz-transition: opacity .2s 0;
	transition: opacity .2s 0;
}

.schedule > div {
	width: 25%;
	padding: 6px 0;
}

.schedule span {
	display: inline-block;
	width: 55px;
	padding: 6px 0;
}

.schedule .active {
	border: 1px solid #508fcc;
	background-color: #f3fbff;
	color: #508fcc;
}

.schedule .current {
	border-width: 2px;
	font-weight: 500;
}

